<%- include('header') %>
    <main>
        <!-- Hero Area Start-->
        
        <!-- Hero Area End-->
        <!-- About Details Start -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>User Profile</h4>
                            
                            <table class="table table-dark">
                                <tr>
                                    <td>Full Name</td>
                                    <td><%= result.full_name %></td>
                                </tr>
                                <tr>
                                    <td>Username</td>
                                    <td><%= result.username %></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><%= result.address %></td>
                                </tr>
                                <tr>
                                    <td>Contact</td>
                                    <td><%= result.contact %></td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td><%= result.gender %></td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td><%= result.city %></td>
                                </tr>
                            </table>
                            <Br />
                            <Br />
                            <a href="/profile/edit" class="btn btn-info">Edit Profile</a>
                            <a href="/profile/change_password" class="btn btn-info">Change Password</a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Shop Method End-->
    </main>
<%- include('footer') %>